// Custom styles.
// 添加背景图片


// 修改主体透明度
.main-inner {
  background: #fff;
  opacity: 1;
}

// 修改菜单栏透明度
.header-inner {
  opacity: 1;
}

//文章目录默认展开
.post-toc .nav .nav-child { display: block; }
.post-toc ol {  
  font-size : 13px;     
} 